@charset "utf-8";
*{padding: 0;margin: 0;box-sizing: border-box;}
*:before,*:after{box-sizing: border-box;}
li{list-style: none;}
a{color:inherit;text-decoration: none;}
em, address{font-style: normal;}
h1,h2,h3,h4,h5,h6{font-size: 100%;font-weight: normal;}
.skip-menu>a{background-color: #000;color: white;position: fixed;top: -9999px;left: 0;width: 100%;text-align: center;padding:10px 0px}
.skip-menu>a:focus{top:0;z-index: 999;}
input{vertical-align: middle;}
input[type="text"],input[type="password"]{border: 1px solid #aaa;}
img{vertical-align: middle;border: none;}
fieldset{border:none}
legend{position: absolute;left: -9999px;}