@charset "utf-8";
@import "design";
.bg-banner{
    height: 590px;background: url("../img/about/aboutus_bg.jpg") no-repeat 0 0;width: 100%;background-position: center bottom;
}
.bg-tit-1{
    font-size: 62px;text-align: center;color: #fefefe;font-weight: 700;padding-top: 230px;margin-bottom: 40px;
}
.bg-tit-2{
    color:#fefefe;font-size: 20px;text-align: center;padding-bottom: 240px;
}
#nav{
    display: block;width: 100%;border-bottom: 1px solid #acacac;height: 40px;line-height:40px;
    .nav-wrap{
        max-width: 1300px;margin: 0 auto;overflow: hidden;text-align: center;height: 100%;
        .home-icon{
            width: 57px;height: 100%;border-left: 1px solid #acacac;border-right: 1px solid #acacac;float: left;
            img{width: 20px;height: 20px;}
        }
        .parent-menu{
            float: left;
            color:#000;
            font-size: 16px;
            border-right: 1px solid #acacac;
            display: block;
            height: 100%;
            width: 140px;
            padding-right: 20px;
            position: relative;
            &:after{content: '';position: absolute;top: 13px;right: 10px;display: block;width: 9px;height: 9px;border-right: 1px solid #555;border-bottom: 1px solid #555;transform: rotate(45deg);}
            .parent-nav{
                li{
                    a{
                        padding: 0 20px;
                        line-height: 40px;
                        font-size: 14px;
                        display: block
                    }
                }
            }

        }
        .current-menu{
            float: left;
            color: $mainColor-2;
            font-size: 16px;
            border-right: 1px solid #acacac;
            width: 130px;
            height: 100%;
            padding-right: 20px;
            display: block;
            position: relative;
            &:after{content: '';position: absolute;top: 13px;right: 10px;display: block;width: 9px;height: 9px;border-right: 1px solid #555;border-bottom: 1px solid #555;transform: rotate(45deg);}
        }
    }
}
#container{
    margin: 50px 0 100px;width: 100%;
    .container-title{
        text-align: center;max-width: 960px;margin:0 auto;display: block;
        h4{font-size: 30px;color: $mainColor-1;}
        p{font-size: 18px;padding: 30px 0;}
    }
    .about{
        margin-top: 60px;
        width: 100%;
        background: #f4f4f4;
        p{display: inline-block;margin-top: 30px;}
        .description-wrap{
            height: 300px;width: 50%;display: block;background-color: #f4f4f4;padding: 81px 20px;
            .about-title{
                font-size: 32px;
                margin-bottom: 30px;
                color: #000;
                width: 100%;
                margin: 0 auto;
            }
            p:last-child{font-size: 18px;color: $fontColor-1;}
        }
        .box-1,.box-3{
            overflow: hidden;width: 100%;text-align: center;background:url("../img/about/salad.jpg") no-repeat center;
            background-size: 100%;height: 300px;
        }
        .box-2{
            overflow: hidden;width: 100%;text-align: center;background:url("../img/about/rock.jpg") no-repeat center;height: 300px;background-size:cover;
            .description-wrap{float: right;}
        }
        .box-3{
            background:url("../img/about/bubble.jpg")no-repeat center;background-size: cover;
        }
    }
    .small-title{font-size: 24px;color: $mainColor-1;font-weight: 700;margin: 70px 0 30px;text-align: center;}
    .mission{
        p{text-align: center;font-size: 33px;width: 50%;margin: 0 auto;}
    }
    .core-value{
        max-width: 1000px;margin:0 auto;text-align: center;
        div{
            width: 180px;height: 180px;display: inline-block;border: 5px solid $mainColor-1;border-radius: 90px;
            &.value-box-2{margin: 0 30px;}
            p{font-size: 28px;padding-top: 60px;}
        }        
    }
}
.btn-top{
    position: fixed;
    right: 20px;
    bottom:200px;
    width: 30px;
    height: 30px;
    background-color:#4b4b4b;
    border-radius:50px;
    span{
        position: absolute;left: 34%;top: 42%;display: block;height: 10px;width: 10px;border-top: 1px solid #fff;border-left: 1px solid #fff;transform: rotate(45deg);
    }
} 
// tablet
@media(min-width:721px) and (max-width:1099px){
    .bg-banner{
        height: 350px;
    }
    .bg-tit-1{
        font-size: 38px;padding-top: 100px;margin-bottom: 25px;
    }
    .bg-tit-2{
        font-size: 18px;padding-bottom: 100px;
    }
    #container{
        .about{
            .box-2,.box-3{
            .description-wrap{
                padding: 48px 20px;
            } 
            }
            .description-wrap{
                .about-title{
                    font-size: 24px;
                }
                p:last-child{
                    font-size: 16px}
            } 
        }
        .mission{
            p{width: 69%}
        }
    } 
}
//mobile
@media(max-width:720px){
    .bg-banner{
        height: 300px;
    }
    .bg-tit-1{
        font-size: 32px;padding-top: 100px;margin-bottom: 30px;
    }
    .bg-tit-2{
        font-size: 18px;padding-bottom: 100px;
    }
    #container{
        margin: 80px 0;
        .container-title{
            padding: 0 20px;
            h4{font-size: 24px;}
            p{font-size: 16px;}
        }
        .about{
            .description-wrap{
                padding: 93px 20px;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,.5);
                .about-title{font-size: 24px;color: #fff;}
                p:last-child{padding: 0;font-size: 16px;color: #efefef;}
            }
            .box-1, .box-3{
                min-height: 300px;
                background: url("../img/about/salad.jpg")no-repeat center bottom;
                img{display: none;}
                .about-title{float: none;}
            }           
            .box-2{
                margin-top: 20px;min-height: 300px;background: url("../img/about/rock.jpg") no-repeat center;background-size:cover;
                img{display: none;}
            }
            .box-3{
                margin-top: 20px;background: url("../img/about/bubble.jpg") no-repeat center;background-size: cover;
            }
        } 
        .mission{
            p{
                font-size: 28px;
                width: 90%;
            }
        }
        .core-value{
            div{
                float: none;
                margin:0 auto;
                margin-bottom: 20px;
                &.value-box-2{display: block;margin: 0 auto;margin-bottom: 20px;}
            }
        }
    } 
}