@charset "utf-8";
@import "design";
.bg-banner{
    height: 590px;background: url("../img/business/notepad-691250_1920.png") no-repeat 0 0;width: 100%;background-position: center;background-size: cover;
}
.bg-tit-1{
    font-size: 62px;text-align: center;color: #fefefe;font-weight: 700;padding-top: 230px;margin-bottom: 40px;
}
.bg-tit-2{
    color:#fefefe;font-size: 20px;text-align: center;padding-bottom: 240px;
}
#nav{
    display: block;width: 100%;border-bottom: 1px solid #acacac;height: 40px;line-height:40px;
    .nav-wrap{
        position: absolute;;max-width: 1300px;margin: 0 auto;overflow: hidden;text-align: center;height: 100%;
        .home-icon{
            width: 57px;height: 100%;float: left;
            a{display: block;width: 100%;height: 40px;border-left: 1px solid #acacac;border-right: 1px solid #acacac;}
            img{width: 20px;height: 20px;}
        }
        .parent-menu{
            float: left;
            color:#000;
            font-size: 16px;
            border-right: 1px solid #acacac;
            display: block;
            height: 40px;
            width: 130px;
            padding-right: 31px;
            position: relative;
            &:after{content: '';position: absolute;top: 13px;right: 10px;display: block;width: 9px;height: 9px;border-right: 1px solid #555;border-bottom: 1px solid #555;transform: rotate(45deg);}
            .parent-nav{
            position: relative;top: -9999px;transition: top .2s ease;
                li{ 
                    a{
                        line-height: 40px;
                        display: block;
                        font-size: 14px;
                        border-right: 1px solid #acacac;
                        width: 130px;
                        border-left:1px solid #acacac;
                        padding-left: 7px;
                        text-align: left;
                        height: 40px;
                        background-color: #fff;
                    }
                    
                }
            }
            >a{
                display: inline-block;width: 130px;height: 100%;padding-right: 38px;
                &.on{
                    +.parent-nav{top: 0px;}
                }
            }
        }
        .current-menu{
            float: left;
            color: $mainColor-2;
            font-size: 16px;
            border-right: 1px solid #acacac;
            width: 170px;
            height: 40px;
            padding-right: 20px;
            display: block;
            position: relative;
            &:after{content: '';position: absolute;top: 13px;right: 10px;display: block;width: 9px;height: 9px;border-right: 1px solid #555;border-bottom: 1px solid #555;transform: rotate(45deg);}
            .current-nav{
                position: relative;top: -9999px;transition: top .2s ease;
                >li{
                    >a{
                        line-height: 40px;
                        font-size: 14px;
                        display: block;
                        width: 170px;
                        border-right: 1px solid #acacac;
                        text-align: left;
                        padding-left: 7px;
                        height: 40px;
                        background-color: #fff;
                        border-left: 1px solid #acacac;
                    }
                    &:last-child{
                        a{
                            border-bottom: 1px solid #acacac;
                        }
                    }
                }
            }
            >a{
                display: inline-block;width: 170px;height: 100%;padding-right: 20px;
                &.on{
                    +.current-nav{top: 0px;}
                }
            }
            
        }
    }
}
#container{
    margin: 50px 0 100px;width: 100%;
    .container-title{
        position: relative;width: 1024px;margin:0 auto;
        >img{width: 1024px;height: 368px;}
        .img-text{
            width: 878px;position: absolute;top: 370px;padding: 40px 70px;
            p.main-title{
                font-size: 24px;text-align: center;
                span{
                    color: $mainColor-2;
                }
            }
            p:last-child{font-size: 18px;color: #3d3d3d;}
        }
    }
}
.btn-top{
    position: fixed;
    right: 20px;
    bottom:200px;
    width: 30px;
    height: 30px;
    background-color:#4b4b4b;
    border-radius:50px;
    span{
        position: absolute;left: 34%;top: 42%;display: block;height: 10px;width: 10px;border-top: 1px solid #fff;border-left: 1px solid #fff;transform: rotate(45deg);
    }
} 
// tablet
@media(min-width:721px) and (max-width:1099px){
    .bg-banner{
        height: 350px;
    }
    .bg-tit-1{
        font-size: 38px;padding-top: 100px;margin-bottom: 25px;
    }
    .bg-tit-2{
        font-size: 18px;padding-bottom: 100px;
    }
}
//mobile
@media(max-width:720px){
    .bg-banner{
        height: 300px;
    }
    .bg-tit-1{
        font-size: 32px;padding-top: 100px;margin-bottom: 30px;
    }
    .bg-tit-2{
        font-size: 18px;padding-bottom: 100px;
    }
    #container{
        margin: 80px 0;
        .container-title{
            padding: 0 20px;
            h4{font-size: 24px;}
            p{font-size: 16px;}
        }
    } 
}