@charset "utf-8";
$mainColor-1:#ef7c00;
$mainColor-2:#9d3248;

$ontColor-1:#4e4e4e;/* (연한글씨) */
$fontColor-2:#000000;/* (진한글씨) */
$fontColor-3:#696969;

$footerColor-1:#929490;/* (링크) */
$footerColor-2:#3da2d0;/* (강조) */
$footerColor-3:#989d99;/* (input) */
$footerColor-4:#494949;
$footerBg:#121212;


$sidegnb:#696969;
$btntop:#4b4b4b;

$baseWidth: 1200px