@charset "utf-8";
@import "design";
body{font:14px/1.5 'Noto Sans KR' MalgunGothic '맑은고딕', arial,sans-serif};
#header{position: fixed;top: 0;left: 0;}
.swiper-container {
    width: 100%;
    height: 100%;
    img{width: 100%;height: auto;}
}