@charset "utf-8";
@import url("http://applecloud.dothome.co.kr/HTML/style/CSS/reset.css");
@import "design";
@import url("https://fonts.googleapis.com/earlyaccess/notosanskr.css");
body{font:14px/1.5 Noto Sans KR, MalgunGothic, '맑은고딕', arial,sans-serif};
.tit-1{
    font-size: 27px;
    color: #000;
    text-align: center;
    font-weight: bold;
}
.tit-2{
    font-size: 18px;
    color: $fontColor-1;
    text-align: center;
    padding-top: 20px;
}
#header{
    position: absolute;top: 0;z-index: 3;width: 100%;padding: 25px 0 10px 0;
    .header-inner-wrap{
        max-width: $baseWidth;margin:0 auto;overflow: hidden;height: 100%;height: 50px;padding: 0 10px;
        h1.logo{width: 115px;height: 50px;float: left;margin-right: 50px;}
        .gnb{float: left;top: 0;height: 100%;}
        .util-menu{
            float:right;padding: 0 2px;
            select{
                font-family: 'Noto Sans KR';
                border-radius:10px;
                border-color: #fff;
                color: #fff;
                background: transparent;
                position: relative;
                display: block;
                width: 97px;
                top: 16px;
                left: 12px;
                option{
                    background-color: rgba(0,0,0,.6);
                }
            }
        }
    }
    &.sticky{
        position: fixed;background-color: #000;box-shadow: 0 2px 2px rgba(0,0,0,0.3);
    }
}
#gnb{
    >ul{color:#fff;position: absolute;top: 37px;height: 100%;
        &:after{content: '';display: block;clear: both;}
        >li{
            float: left;margin-right:67px;font-size: 16.5px;position: relative;
            &.gnb-list-1{
                >ul{
                    left: 71px;
                }
                >a{
                    &.on{
                        &:after{width: 110px;}
                        }
                }
            }
            &.gnb-list-2{
                >ul{
                    left: 48px;
                }
            }
            &.gnb-list-3{
                margin-right: 59px;
                >ul{
                    left: 73px;
                }
            
            }
            &.gnb-list-4{
                padding-right: 12px;margin-right: 0;
                >a{
                    &.on{
                        &:after{width: 138px;}
                        }
                }
                >ul{
                    left: 75px;
                }
            }
            &.gnb-list-5{
                padding-left: 12px;position: relative;margin-right: 28px;
                &:before{content: '';display: inline-block;width: 2px;height: 16px;background-color: #fff;position: absolute;top: 5px;left: 0;}
                >a{
                    &.on{
                        &:after{content: none;}
                        }
                }
            }
            &.gnb-list-6{
                padding-right: 18px;margin-right: 0;
                >ul{left: 69px;}
                >a{
                    &.on{
                        &:after{width: 70px;}
                        }
                }
            }
            &.gnb-list-7{
                padding-left: 18px;position: relative;
                &:before{content: '';display: inline-block;width: 2px;height: 16px;background-color: #fff;position: absolute;top: 5px;left: 0;}
                img{width: 148px;height: auto;}
                >a{
                    &.on{
                        &:after{content: none;}
                        }
                }
            }
            >a{
                display:block;
                width: 100%;
                height: 100%;
                position: relative;
                transition: all .2s ease-in;
                &:after{content: '';
                    width: 0%;
                    height: 7px;
                    background-color: #993333;
                    position: absolute;
                    left: 50%;
                    top: 38px;
                    transform: translateX(-50%);
                    transition: width .4s ease-in;
                }
                &.on{
                    &:after{width: 100px;}
                    }
            }
            >ul{
                display: none;
                position: absolute;
                width: 140px;
                background-color: #fff;
                height: 360px;
                left: 50%;
                overflow: hidden;
                transform: translateX(-50%);
                top: 48px;
                z-index: 4;
                padding: 10px 0;
                >li{
                    a{
                        display: inline-block;
                        height: 100%;
                        width: 100%;
                        color: #333;
                        font-size: 14px;
                        position: relative;
                        z-index: 2;
                        margin-bottom: 15px;;
                        &:hover{color:#993333;text-decoration: underline;}
                    }
                }
            }
        }   
    }
}
#fp-nav ul li{
    &:nth-child(1){
        .fp-tooltip{
            left: -23px;
        }
    }
    &:nth-child(2){
        .fp-tooltip{
            left: -31px;
        }
    }
    &:nth-child(3){
        .fp-tooltip{
            left: -22px;
        }
    }
    &:nth-child(4){
        .fp-tooltip{
            left: -8px;
        }
    }
    &:nth-child(5){
        .fp-tooltip{
            left: -8px;
        }
    }
    &:last-child{
        display: none;
    }
    .fp-tooltip{
        position: relative;top:8px;overflow: unset;
        // &:after{content: "";background-color:#fff;width: 100%;height: 2px;display: block;position: absolute;bottom: 0;}
    }
}
.dim{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 0;
}
.btn-close{display: none;}
.section.s0{
    .swiper-container {
        height: 100%;
        .swiper-wrapper{
            .swiper-slide{
                img{position: absolute;height: 100%;width: 100%;object-fit:cover}
            }
        }
    }
    .section-txt{
        position: fixed;
        bottom: 5%;
        z-index: 3;
        color: #fff;
        width: 100%;
        .upper-text,.below-text{
            max-width: $baseWidth;
            display: block;
            margin: 0 auto;
            padding: 0 10px;
        }
        .upper-text{
            font-size: 20px;
            .upper-left-text{
                width: 265px;
                display: inline-block;
            }
            .upper-right-line{
                width: calc(100% - 270px);background-color: #fff;height: 2px;display: inline-block;position: relative;top: -5px;
            }
        }
        .below-text{
            overflow: hidden;
            h2{float: left;font-size: 40px;width: 18%;}
            .text-box{
                float: left;
                width: 64%;
                margin-left: 60px;
                font-size: 16px;
                position: relative;
                top: 15px;
            }
            button{
                float:right;
                width: 144px;
                height: 46px;
                line-height: 46px;
                background-color: transparent;
                border: 1px solid #fff;
                border-radius: 23px;
                color: #fff;
                position: relative;
                top: 10px;
            }
        }
    }
}
.swiper-pagination-bullet{
    width: 23px;height: 23px;background-color: #fff;
}
.lSSlideOuter .lSPager.lSGallery li img{border: 1px solid #ccc;}
.lSSlideOuter .lSPager.lSGallery li.active{
    img{border: 2px solid $mainColor-1;}
};
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{bottom: 10px;}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin: 0 10px;}
.section.s1{
    text-align: center;
    p{line-height: 1.7;}
    p.tit-2{
        max-width: 257px;
        margin: 0 auto;
    }
    img{
        width: 265px;
        height: 270px;
        margin: 40px 0;
        +p{
            color: $fontColor-1;
            font-size: 18px;
            width: 713px;
            margin: 0 auto;
        }
    }
}
.section.s2{
    background:url("../img/main/bg-business.png") no-repeat 0 0;text-align: center;
    p.tit-2{padding-bottom: 60px;}
    .business-box{
        max-width: 1400px;margin:0 auto;
        ul{
            overflow: hidden;
            li{
                float: left;
                width: 20%;
                padding: 0 2%;
                color: $fontColor-1;
                a{
                    display: block;width: auto;margin:5px 5px 10px 5px;
                    .screen{
                        position: relative;overflow: hidden;
                        // padding-bottom: 56.25%;
                        width: 200px;
                        height: 360px;
                        img{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            // width: 200px;
                            // height: 360px;
                            transform: translate(-50%,-50%);
                            width: 100%;
                            z-index: 1;
                        }
                        span{
                            display: block;
                            position: absolute;
                            background-color: $mainColor-1;
                            transition: all .5s;
                            z-index: 2;
                            &:nth-child(1){
                                top: 0;height: 5px;width: 0;
                            }
                            &:nth-child(2){
                                top: 0;right: 0;width: 5px;height: 0;
                            }
                            &:nth-child(3){
                                bottom: 0;right: 0;height: 5px;width: 0;
                            }
                            &:nth-child(4){
                                bottom: 0;left: 0;width: 5px;height: 0;
                            }
                        }
                    }
                    &:hover{
                        .screen{
                            span{
                                &:nth-child(1){
                                    width: 100%;
                                }
                                &:nth-child(2){
                                    height: 100%;transition-delay: .3s;
                                }
                                &:nth-child(3){
                                    width: 100%;transition-delay: .6s;
                                }
                                &:nth-child(4){
                                    height: 100%;transition-delay: .9s;
                                }
                            }
                        }
                    }
                    h3{
                        font-size: 22px;
                        font-weight: bold;
                        margin: 10px 0;
                    }
                    >p{font-size: 17px;text-align: center;}
                }
            }
        }
    }
}
.section.s3{
    background: url("../img/main/bg-infra.png") no-repeat 0 0;
    .inner-section3{
        h2.tit-1{
            em{font-weight: normal;}
            margin: 0 0 5% 0;
        }
        >ul{
            position: relative;overflow: hidden;width: 100%;margin: 0 auto;
            >li{
                color: $fontColor-1;
                width: 50%;
                float: left;
                padding-right: 12.4725%;
                padding-left: 15%;
                img{margin-bottom: 20px;}
                &.mv-background{
                    float: none;
                    position: absolute;
                    width: 24.945%;
                    margin-top: -13.4725%;
                    margin-left: -14.8%;
                    left: 50%;
                    top: 50%;
                    padding-top: 27.945%;
                    height: 0;
                    max-width: 496px;
                    background: url("../img/main/img-infra-titBg.png")no-repeat 0 0;
                    background-position: center center;
                    background-size: 100% auto;
                    img{
                    -webkit-animation:rotating linear 20s infinite ;
                    animation: rotating linear 20s infinite;
                    width:100%;
                    position: absolute;
                    left: 50%;
                    top: 0%;
                    margin-left: -50%;                    
                    margin-right: -50%;
                    }
                }
                h3{
                    font-size: 21px;font-weight: bold;
                }
                p{font-size: 16px;}
                &:nth-of-type(4){float: left;clear: both;}
                &:nth-of-type(1),&:nth-of-type(4){
                    margin-bottom: 45px;
                    padding-left: 12%;
                    p{padding-right: 55px;}
                }
                &:nth-of-type(3),&:nth-of-type(5){padding-top: 18px;}
            }
        }
    }
}
.section.s4{
    .inner-section-4{
        max-width: 1300px;margin:0 auto;overflow: hidden;color:$fontColor-1;
    }
    p.tit-2{margin-bottom: 35px;color: $fontColor-2;}
    .news-box-1{
        width: 48%;
        margin-right: 20px;
        float: left;
        border: 2px solid #ccc;
        border-radius: 16px;
        padding: 87px 60px;
        text-align: center;
        position: relative;
        img{width: 80%;}
        p{padding: 11px;font-size: 17px;}
    }
    .news-box-2,.news-box-3{
        width: 50%;
        float: right;
        border: 2px solid #ccc;
        border-radius: 16px;
        overflow: hidden;
        padding: 25px;
        .tit-3{font-size: 16px;padding-bottom: 30px;}
        
    }
    .news-box-2{
        margin-bottom: 20px;
        .inner-box-2-left{
            float: left;
            width: 61%;
            position: relative;
            margin-right: 20px;
            ul{
                font-weight: 300;line-height: 1.8;
                li{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 99%;}
            }
            
        }
        .inner-box-2-right{
            float: right;
            width: 35%;
            position: relative;
            img{width: 100%;height: 164px;}
            .go{display: block;width: 10px;height: 10px;border-right: 1px solid $fontColor-1 ;border-top: 1px solid $fontColor-1;transform: rotate(45deg);top: 7px;right: 0;position: absolute;}
        }
    }
    .news-box-3{
        height: 257px;
        .inner-box-3-left{
            float: left;
            width: 48%;
            position: relative;
            margin-right: 20px;
            ul{
                li{
                    font-weight: 300;
                    white-space: nowrap;
                    overflow: hidden;
                    width: 95%;
                    text-overflow: ellipsis;
                }
            }
        }
        .inner-box-3-right{
            float: right;
            width: 48%;
            position: relative;
            margin: 0 auto;
            text-align: center;
            .tit-3{padding-bottom: 20px;text-align: left;}
            >img{width: 100px;height: 100px;margin-bottom: 10px;}
            p{
                padding-right: 94px;text-align: left;font-weight: 300;
            }
            .btn-icon-box{
                ul{
                    overflow: hidden;text-align: right;padding-left: 197px;
                    li{
                        float: left;
                        margin-right: 10px;
                        img{width: 23px;height: 23px;}
                        &:last-child{margin-right: 0;}
                    }
                }
            }
        }
    }
    .plus{position: absolute;right: 0;top: -11px;font-size: 29px;font-weight: 100;}
    .btn-top{
        position: absolute;
        right: 20px;
        bottom:50px;
        width: 30px;
        height: 30px;
        background-color:#4b4b4b;
        border-radius:50px;
        span{
            position: relative;left: 34%;top: 42%;display: block;height: 10px;width: 10px;border-top: 1px solid #fff;border-left: 1px solid #fff;transform: rotate(45deg);
        }
    }
}
.section.s5{
    background-color: #121212;height: 165px;
    footer{
        width: 1068px;
        margin: 0 auto;
        padding: 35px 0;
        .upper-footer{
            overflow: hidden;margin-bottom: 40px;
            .upper-left-footer{
                float: left;
                color: #929490;
                font-size: 13px;
                ul{
                    overflow: hidden;
                    li{
                        float: left;position: relative;
                        ~li{
                            &:before{content: "";height: 14px;width: 2px;background-color: #929490;position: absolute;left: 0;top: 4px;}
                            padding-left:10px;
                            margin-left: 10px;
                            &:nth-of-type(2){color: #3da2d0;}
                        }
                    }
                }
            }
            .upper-right-footer{
                float: right;
                ul{
                    overflow: hidden;float: left;
                    li{
                        float: left;
                        ~li{margin-left: 30px;}
                    }
                }
                select{
                    margin-left: 50px;
                    width:250px;
                    height: 37px;
                    background-color: #000;
                    margin-right: 10px;
                    border: 1px solid #fff;
                    font-size: 15px;
                    color: #9b9d99;
                    padding-left: 5px;
                }
                button{width: 43px;height: 36px;border: 1px solid #fff;background-color: #000;color: #9b9d99;float: right;}
            }
        }
        .below-footer{
            font-size: 15px;
            color: #494949;
        }
    }
}
@keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
// tablet&mobile
@media(max-width:1099px){
    #fp-nav{
        &.fp-right{right: 40%;top:60px;}
        ul{
            li{
                display:inline-block;
                a{
                    span{color: #fff;background-color: #fff;transform: translateY(-50%);}
                }
            }
        }
    }
    .fp-slidesNav ul li a span{background-color: #fff;color: #fff;}
    #gnb{
        display: none;
        position: fixed;
        z-index: 1;
        display: block;
        width: 100%;
        height: 100%;
        background-color: #f4f4f4;
        color: $fontColor-1;
    }
    .util-menu{display: none;}
    .all-menu{
        position: absolute;
        right: 10px;
        display: block;
        width: 39px;
        height: 39px;
        border: 1px solid #fff;
        border-radius: 10px;
        span{
            border-top: 2px solid #fff;position: absolute;top: 19%;left:7px;border-bottom: 2px solid #fff;width: 24px;display: block;height: 24px;cursor: pointer;
            &:after{content: '';display: block;position: absolute;width: 24px;height: 2px;top: calc(50% - 2px);left: 0;background-color: #fff;}
        }
        &.on{
            +#gnb{
                display: block;
                +.util-menu{
                    display: block;
                    +.btn-close{
                        display: block;
                        +.dim{
                            display: block;
                        }

                    }
                }
            }
        }
    }
    .btn-close{
        position: relative;z-index: 1;left: 20px;top: 10px;
        &:before{
            content: '';position: absolute;top: 0;left: 0;display: block;height: 30px;width: 2px;transform: rotate(45deg);background-color: #fff;
        }
        &:after{
            content:'';position: absolute;top: 0;left: 0;display: block;height: 30px;width: 2px;transform: rotate(-45deg);background-color: #fff;
        }
    }

}
//tablet
@media(min-width:721px) and (max-width:1099px){
}
// Mobile
@media(max-width:720px){
}